<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Application>
  <Window>
    <Cube x="50" y="50" width="100" height="100" color="FA6400">
      <Cube x="50" y="50" width="100" height="100" color="006400"/>
    </Cube>
    <Cube x="100" y="100" width="50" height="50" color="006460"/>
  </Window>
</Application>